mat-grid-tile-header{
    margin-top: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    width: 99%;
    background-color: #E3DCC2;

    font-weight: bold;
    font-size: 1.5rem;

    /*Border styling for different browsers*/
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
}
mat-card{
    width: 90%;
    height: 85%;

}

#imageContainer{
    width: 90%;
    min-height: 60%;
    max-height: auto;
    margin: 3px;
    padding: 3px;
}

img{
    width:inherit;
    object-fit: contain;

    /*Border styling for different browsers*/
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 1px solid #000000;
}

ul{
    list-style: none;
}
