mat-grid-tile-header{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
mat-grid-tile{
    text-align: left;
    display: block;
    background-color: aqua;
}


ul{
    list-style: none;
}
