<mat-grid-list cols="2" rowHeight="3:1" >
    <mat-grid-tile-header> <p> {{ reci.name }} </p> </mat-grid-tile-header>

    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Zutaten</mat-card-title>
            <mat-card-content>
                <ul *ngFor="let pro of reci.products">
                    <li> {{ pro.amount }} {{ pro.unit }} of {{ pro.name }} </li>
                </ul>
            </mat-card-content>
        </mat-card>    
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
        <div id="imageContainer">
            <img *ngIf="reci.image!=null" [src]= reci.image (error)="reci.image='https://via.placeholder.com/600x450?text=Placeholder+Image'">
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Schritte</mat-card-title>
            <mat-card-content>
                <ul *ngFor="let step of reci.steps; let i=index">
                    <li> {{ i+1 }}. {{ step }} </li>
                </ul>
            </mat-card-content>
        </mat-card>    
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
            <button mat-raised-button [routerLink]="['/recipe']"> <i class="material-icons">keyboard_backspace</i> To the recipe-masterview </button>
            <div></div>
            <button mat-raised-button (click)="addToCart()"><i class="material-icons">add_shopping_cart</i> Add Recipe-Ingredients to the shopping cart </button>  
    </mat-grid-tile>
    


</mat-grid-list>
