mat-toolbar{
    background-color: #A6A867;
    margin: auto;
    width: 100%;
    text-align: center;
}
.fill-remaining-space{ /* spacing between the name and the home-button */
    flex: 1 1 auto;
}
button{
    background-color: #909083;
    font-weight: bold;
}
span{
    font-weight: bold;
}