<p>ingredient-creation works!</p>
<mat-grid-list cols="2" rowHeight="1:1" >
    <form [formGroup]="ingForm" (submit)="submitIng()">

        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Name</mat-card-title>
                <mat-card-content>
                        <mat-form-field>
                            <input matInput formControlName="name">
                        </mat-form-field>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Category</mat-card-title>
                <mat-card-content>
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category">
                                <mat-option *ngFor="let cat of categories" [value]="cat"> {{ cat }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <button type="submit">Submit</button>
        </mat-grid-tile>
    </form>
</mat-grid-list>