<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile> 
        <mat-card>
            <mat-card-title>Your Shopping Cart</mat-card-title>
            <mat-card-content>
                <button mat-button [routerLink]="['/shopping-cart']">Shopping Cart <i class="material-icons">shopping_cart</i></button>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile> 
        <mat-card>
            <mat-card-title>Browse all recipes</mat-card-title>
            <mat-card-content>
                <button mat-button [routerLink]="['/recipe']">Recipe-Masterview <i class="material-icons">book</i></button>
            </mat-card-content>
            </mat-card>
    </mat-grid-tile>
</mat-grid-list>
