
<mat-grid-list cols="4" rowHeight="1:1" >
    <mat-grid-tile-header> <p>Check out these recipes!</p> </mat-grid-tile-header>
    <mat-grid-tile *ngFor="let recipe of recipes"> 
        <mat-card>
            <mat-card-title> {{ recipe.name }} </mat-card-title>
            <img mat-card-image *ngIf="recipe.image!=null" [src]= recipe.image (error)="recipe.image=''">
            <mat-card-actions>
                <button mat-button [routerLink]="['/recipe', recipe.id]"><i class="material-icons">pageview</i> Check out this recipe! </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Add a new recipe</mat-card-title>
            <mat-card-actions>
                <button mat-button [routerLink]="['/create']">Create a new recipe <i class="material-icons">add_circle</i></button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


